.cta {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  z-index: 2;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    border-radius: 20px;
    background-color: #58bebf;
    color: #fff;
  }

  &__img {
    margin-top: 60px;
    padding-top: 25px;
    padding-right: 25px;
    background-color: white;
    border-radius: 0 20px 0 0;
  }

  &__text {
    width: 554px;
    padding-left: 95px;
    padding-right: 40px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url("./../../img/cta/oval-bottom-left.svg") bottom 0 left -186px no-repeat,
      url("./../../img/cta/oval-top-right.svg") right top no-repeat;

    p {
      width: 320px;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__buttons-row {
    margin-top: 30px;

    display: flex;
    column-gap: 20px;
  }
}
