.navigation-list {
  ul {
    display: flex;
  }

  li:not(last-child) {
    margin-right: 42px;
  }

  a {
    color: inherit;

    &:hover {
      color: $accent-color;
    }

    &.active {
      color: $accent-color;
      font-weight: 700;
    }
  }
}
